/*****************************************************/
/* This semester we will be using my variation of    */
/* Josh Comeau's CSS Reset instead of normalize      */
/* Read more at                                      */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************/
/* Always add your CSS below the reset CSS           */
/*****************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* this an experimental line-height; if it breaks, add line-height: 1.5 to body */
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* until you get a feel for overflow, I'll keep these next two commented out */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* p {
  overflow-wrap: break-word;
  hyphens: auto;
} */

/* temp CSS for HTML only assignments */
picture img {
  width: 100%;
  display: block;
}

svg {
  width: 200px;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
  display: block;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

/************ add your CSS here *****************/

:root {
  --color-background: floralwhite;
  --color-font: #444; /*dark gray*/
  --color-primary: #663f46; /* Catawba*/
  --color-secondary: #b8c4bb; /*Ash gray*/
  --color-accent: #d4afb9; /*Cameo Pink*/
  --color-accent-light: #e8f7ee; /*Honeydew*/
  --color-accent-dark: #294d4a; /*Dark slate gray*/
  --gutter: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color-background);
  font-family: "PT Sans";
  font-size: 1rem;
  color: #444;
}

/* Hero */

.hero {
  position: relative;
  align-self: stretch;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-position: center center;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero .text-wrapper {
  position: absolute;
  inset: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  position: top;
  text-align: center;
  color: var(--color-accent-dark);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}
.hero h1 {
  font-size: clamp(2rem, calc(-0.875rem + 8.333vw), 3.5rem);
}
.text-wrapper p {
  color: var(--color-accent-dark);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}

/* Basic Styles */
main {
  display: flex;
  align-self: center;
  max-width: 70rem;
  margin: 0 auto;
}
/* nav {
  background-color: var(--color-accent);
  padding: 0 15px;
  margin: var(--gutter);
} */
/* Menu */

.header {
  background-color: #b8c4bb;
  box-shadow: 1px 1px 5px 0px var(gray);
  position: sticky;
  top: 0;
  width: 100%;
}

.logo {
  display: inline-block;
  color: #d4afb9;
  font-size: 60px;
  margin-left: 10px;
}
.navbar {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}

.menu li.subitem a {
  padding: 15px;
}

.menu a:hover {
  background-color: antiquewhite;
}
/* Menu Icon */
.hamb {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

.navbar-toggle::before,
.navbar-toggle::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar-toggle::before {
  top: 5px;
}
.navbar-toggle::after {
  top: -5px;
}
.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .navbar-toggle {
  background: transparent;
}
.side-menu:checked ~ .hamb .navbar-toggle::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .navbar-toggle::after {
  transform: rotate(45deg);
  top: 0;
}
.item {
  width: 100%;
  text-align: center;
  display: none;
}
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.menu,
.submenu {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h1 {
  font-family: "Alex Brush";
  font-size: 3rem;
  color: var(--color-primary);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}
h2 {
  font-family: "Alex Brush";
  font-size: 2rem;
  color: var(--color-accent);
}
h3 {
  font-family: "PT Sans";
  font-size: 1rem;
  color: var(--color-secondary);
}

p {
  margin-bottom: 1.5rem;
  margin: var(--gutter);
  color: var(--color-font);
}
article,
aside {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 6rem;
}

section {
  display: block;
}
/* links and button styles*/
a {
  text-decoration: none;
}

a[href]:link {
  text-decoration: none;
}

a[href]:visited {
  color: var(--color-primary);
}
a[href]:hover {
  color: var(--color-accent-dark);
}
.button {
  display: inline-block;
  background-color: aliceblue;
  border: none;
  color: var(--color-primary);
  padding: 15px 32px;
  text-align: center;
  font-size: 2rem;
  transition: background-color 300ms ease;
}
.button:hover {
  color: #d4afb9;
  background-color: var(--color-primary);
}

.item {
  padding: 10px;
}

/*cards*/
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 0 var(--gutter);
  gap: var(--gutter);
}

.card {
  position: relative;
  overflow: hidden;

  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.card-content {
  padding: 1rem;
}
.card-image {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.card-image img {
  width: 100%;
  top: 50%;
  left: 50%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card:hover p {
  color: var(--color-accent);
}
footer {
  padding: 0 1rem;
  overflow: hidden;
  position: sticky;
  margin-top: auto;
  margin-bottom: 0;
  height: 60em;
  width: 100%;
  background-color: var(--color-accent);
  text-align: center;
}

/* Panels */
.panel .text-wrapper {
  order: 1;
}
.panel .image-wrapper {
  order: 0;
}
.panels {
  flex-direction: column;
}

/* Contact form */

section {
  margin: 0 1rem;
}

.contact form {
  display: grid;
}

.contact fieldset {
  display: contents;

  border: none;
  padding: 0;
  margin: 0;
}
.contact .fieldset-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
}

.contact .legend {
  grid-column: 1/-1;
}

.contact form > label {
  display: block;
  margin-top: 1.5rem;
}

.contact form > label:first-of-type {
  margin-top: 0;
}

.contact button,
.contact .fieldset-wrapper {
  margin: 1.5rem;
}

@media (min-width: 401px) {
  /*tablet*/

  /* cards */
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cards > .card {
    flex: 1 1 40%;
  }
  /* Panels */
  .panel {
    flex-direction: row;
  }

  .panel .left {
    order: -1;
  }

  .panel .image-wrapper {
    order: 1;
  }

  .panel h2 {
    margin: 0;
  }
}

@media (min-width: 801px) {
  /*desktop*/
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .item {
    position: relative;
    display: block;
    width: auto;
  }

  /* Panels */
  .panel {
    flex-direction: row;
    gap: 2rem;
  }
  .panel .image-wrapper {
    flex: 1 1 40%;
  }
  .panel .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 60%;
  }
  .panel .left {
    order: -1;
  }

  .cards {
    flex-wrap: nowrap;
  }
  .card {
    grid-column-end: span 4;
  }
}
